<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}" />
    <title>Nick Nelson | Web Developer | Seattle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <nav class="container-fluid nav-bar">
      <div class="nav-brand">Nick Nelson | Web Developer</div>
    </nav>
    <div class="container-fluid">
      <section class="flex-wrap" id="splash">
        <div class="container text-center">
          <span class="secondary-highlight rotate">
            <span>Welcome</span>
            <span>Willkommen</span>
            <span>ようこそ</span>
            <span>Bienvenido</span>
            <span>مرحابة</span>
          </span>. I'm Nick Nelson, a <span data-options="Back-End/Front-End/Full-Stack">full-stack</span> Web Developer.
          <div class="icons">
            <a href="{{ site.data.info.github }}"><i class="fa fa-github"></i></a> 
            <a href="{{ site.data.info.linkedin }}"><i class="fa fa-linkedin"></i></a></div>
        </div>
        <!-- GitHub, LinkedIn, Resume, Email -->
      </section>
    </div>
    <div class="container">
      <section id="about">
        <h2>What I Do</h2>
        <div class="section-body row">
          {% for group in site.data.skills %}
            <div class="col">
              <div class="title">
                {% if group.icon %}
                  <i class="icon fa fa-{{ group.icon }}"></i> {{ group.name }}
                {% endif %}
              </div>
              <ul>
                {% for skill in group.skills %}
                  <li>{{ skill }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        </div>
      </section>
      <section id="projects">
        <h2>What I've Done</h2>
        <div class="section-body row">
          {% for proj in site.data.projects %}
            <div class="col">
              <h5>{{ proj.name }}</h5>
              <p>{{ proj.description }}</p>
            </div>
          {% endfor %}
        </div>
      </section>
      <section id="contact">
        Contact me at <a href="mailto:{{ site.data.info.email }}">{{ site.data.info.email }}</a>
      </section>
      <footer id="site-foot">
        <!-- GitHub, LinkedIn, Insta, Email -->
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/scripts.js' | relative_url }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
